#example1 {
  border: 2px solid black;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  background-color: white;
}
#example2 {
  background-color: rgb(236, 79, 79);
  padding: 15px 5px;
  margin: 10px;
  font-size: 18px;
  border: none;
}
#example3 {
  border: 4px dashed red;
  background-color: white;
  color: rgb(252, 24, 24);
  font-size: 18px;
  font-weight: bolder;
  padding: 4px 1px;
  margin: 10px;
}
#example4 {
  border: 8px dotted green;
  font-size: 18px;
  font-weight: bold;
  width: 170px;
  padding: 10px;
  background-color: white;
  color: rgb(21, 21, 151);
  margin: 10px;
}
#example5 {
  border-top: 8px solid green;
  border-bottom: 8px solid rgb(248, 74, 62);
  border-left: 7px solid rgb(44, 133, 118);
  border-right: 7px solid black;
  padding: 3px 10px;
  font-size: 15px;
  color: rgb(255, 123, 0);
  text-decoration: underline;
  margin: 10px;
  background-color: white;
}
#example6 {
  background-color: black;
  color: white;
  border: 0;
  padding: 10px;
  text-align: right;
  width: 150px;
  font-size: 17px;
  margin: 10px;
}
#example7 {
  border: 3px solid rgb(201, 108, 22);
  background-color: rgba(250, 250, 101, 0.911);
  color: rgb(201, 108, 22);
  font-size: 17px;
  font-weight: bold;
  width: 150px;
  text-align: left;
  padding: 15px;
  margin: 10px;
}
#example8 {
  background-color: rgb(9, 32, 245);
  color: white;
  border: 2px dashed;
  padding: 5px 10px;
  font-size: 20px;
  margin: 10px;
  text-transform: uppercase;
}
#example9 {
  background-color: rgb(170, 31, 6);
  color: white;
  border: 15px dotted rgb(247, 168, 65);
  font-size: 16px;
  margin: 10px;
}
#example10 {
  background-color: darkgoldenrod;
  border: 12px dashed white;
  color: white;
  font-size: 14px;
  text-transform: lowercase;
  margin: 10px;
}
#table-1 {
  margin: 30px;
  width: 550px;
}
.thtable-1 {
  padding: 10px ;
  font-weight: bold;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(153, 152, 152);
}
.tdtable-1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
#table-2 {
  margin: 30px;
  border-collapse: collapse;
  border-radius: 50px;
}
td {
  padding: 10px;
  border: 1px solid  gray;
}
#item {
  background-color: rgb(17, 105, 79);
  color: white;
  width: 500px;
}
#main-left {
  text-align: left;
  padding: 15px;
  width: 550px;
  border-radius: 10px 0 0 0;
}
.left {
  text-align: right;
  padding: 15px;
}
#qty {
  width: 60px;
  border: 0;
}
.gray {
  background-color: rgba(102, 112, 122, 0.418);
}
#price {
  width: 100px;
  border-radius: 0 10px 0 0;
}
#total {
  color: rgb(9, 94, 94);
  font-weight: bold;
  border-radius: 0 0 0 10px;
}
#rew {
  color: rgb(9, 94, 94);
  font-weight: bold;
  border-radius: 0 0 10px 0;
}
#without {
  border: 0;
}